.card{
  justify-content: space-between;
  width: 300px;
  border-radius: 24px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
}

.card:hover{
  cursor: pointer;
}

.card__head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__info{
  margin-bottom: 3px;
  font-weight: 700;
}

.block{
  display: block;
}
