:root {
    --green: #36e975;
    --red: #06c565;
}

.list {
    max-width: 320px;
    margin: 10px auto;
    text-align: center;
}

.list__btn {
    border: none;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 32px;
    font-weight: 700;
    font-size: 18px;
    background: var(--green);
    transition: .2s ease background-color;
}

.list__btn:hover{
    background-color: var(--red);
    cursor: pointer;
}
